@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0px;
    padding: 0px;      
}

body, html {
    background-color: lightgray; 
}

header {
    background-color: gray;      
}

header > h1 {
    padding: 10px;
    text-align: center;
}
i#burguer {
    background-color:rgba(25, 25, 25, 0.816);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display:none;    
}

menu > ul {
    list-style-type: none;      
}

menu > ul > li > a {
    display: block;
    padding: 10px; 
    text-decoration:none;
    background-color: rgba(80, 79, 79, 0.992);
    text-align: center;
    color: white; 
    border-top: 2px solid black;     
}

menu > ul > li > a:hover {
     background-color: gray;     
}

main {
    padding:10px ;
    background-color: white;
    margin: 20px;

}